python-dotenv==1.1.0
langchain==0.3.25
langchain-community==0.3.25
langchain-openai==0.3.23
langchain-text-splitters==0.3.8
langchain-core==0.3.65
faiss-cpu==1.11.0
openai==1.88.0
tqdm==4.67.1
fastapi==0.115.8
uvicorn==0.34.0
python-multipart==0.0.20